serviceaccount.json

onnxruntime-osx-arm64-1.20.0
onnxruntime-linux-x64-gpu-1.22.0

cache.db
session.dat

transcript.txt

models/
test/

bot

service-account.json

podcast.wav

segments/

intervals.json
vadded_files.json

.DS_Store

*.mp3
*.m4a

nerd.wav

target/
.venv/
__pycache__/
*.py[cod]

dist/
